/** screen sizes **/

$small: "(max-width: 768px)";
$medium: "(min-width: 768px) and (max-width: 1200px)";
$big: "(min-width: 1200px)";


/** colors **/

$primary: #D93024;
$secondery: #FCE8E5;

$success: #28a745;
$warning: #ffc107;

$star: #F4B402;

$background1: #F5F7F7;
$background2: #E9EAEA;

$text1: #202123;
$text2: #393A3D;
$text3: #7A7D81;